<a href="https://colab.research.google.com/github/JayrajShah/DataAnalysis-MachineLearning-with-Python/blob/master/Day_2_Session_2_Example_Programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Removes all elements of dictionary dic

In [1]:
dict = {'Name': 'Zara', 'Age': 7};
print("Start Len : %d" %  len(dict))
dict.clear()
print("End Len : %d" %  len(dict))

Start Len : 2
End Len : 0

Returns a list of dict's (key, value) tuple pairs

In [2]:
dict = {'Name': 'Zara', 'Age': 7}
print ("Value : %s" %  dict.items())

Value : dict_items([('Name', 'Zara'), ('Age', 7)])

Returns a copy of dictionary dict

In [3]:
dict1 = {'Name': 'Zara', 'Age': 7};
dict2 = dict1.copy()
print ("New Dictinary : %s" %  str(dict2))

New Dictinary : {'Name': 'Zara', 'Age': 7}

Python Program to Generate a Dictionary that Contains Numbers (between 1 and n) in the Form (x,x*x).

In [4]:
n=int(input("Enter a number:"))
d={x:x*x for x in range(1,n+1)}
print(d)

Enter a number:3
{1: 1, 2: 4, 3: 9}

Python Program to Sum All the Items in a Dictionary

In [5]:
d={'A':100,'B':540,'C':239}
print("Total sum of values in the dictionary:")
print(sum(d.values()))

Total sum of values in the dictionary:
879

Python Program to Remove the Given Key from a Dictionary

In [6]:
d = {'a':1,'b':2,'c':3,'d':4}
print("Initial dictionary")
print(d)
key=input("Enter the key to delete(a-d):")
if key in d: 
    del d[key]
else:
    print("Key not found!")
    exit(0)
print("Updated dictionary")
print(d)

Initial dictionary
{'a': 1, 'b': 2, 'c': 3, 'd': 4}
Enter the key to delete(a-d):b
Updated dictionary
{'a': 1, 'c': 3, 'd': 4}

Python Program to add name and mark as key->value pair in a Dictionary and print it.

In [7]:
n=int(input("Enter no of records"))
d={}
for i in range(1,n+1):
    name= input("Enter name %d"%(i))
    mark=int(input("Enter mark %d"%(i)))
    d[name]=mark
    print (d)

Enter no of records3
Enter name 1Jay
Enter mark 166
{'Jay': 66}
Enter name 2Raj
Enter mark 244
{'Jay': 66, 'Raj': 44}
Enter name 3Jayraj
Enter mark 388
{'Jay': 66, 'Raj': 44, 'Jayraj': 88}

Keys and Values example

In [8]:
d={}
print(" The dictionary elements are")
for i in range(1,21):
    d[i]=i**2
    print(d)
    # To print key and values
    print(" Key==> Value are")
    for (k,v) in d.items():	
        print(k,"==>",v)
  # To print key only
    print ("\nTo print key only")
    for k in d.keys():	
        print(k, end=" ")
  #To print value only
    print ("\nTo print values only")
    for v in d.values():	
        print(v, end=" ")

 The dictionary elements are
{1: 1}
 Key==> Value are
1 ==> 1

To print key only
1
To print values only
1 {1: 1, 2: 4}
 Key==> Value are
1 ==> 1
2 ==> 4

To print key only
1 2
To print values only
1 4 {1: 1, 2: 4, 3: 9}
 Key==> Value are
1 ==> 1
2 ==> 4
3 ==> 9

To print key only
1 2 3
To print values only
1 4 9 {1: 1, 2: 4, 3: 9, 4: 16}
 Key==> Value are
1 ==> 1
2 ==> 4
3 ==> 9
4 ==> 16

To print key only
1 2 3 4
To print values only
1 4 9 16 {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
 Key==> Value are
1 ==> 1
2 ==> 4
3 ==> 9
4 ==> 16
5 ==> 25

To print key only
1 2 3 4 5
To print values only
1 4 9 16 25 {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}
 Key==> Value are
1 ==> 1
2 ==> 4
3 ==> 9
4 ==> 16
5 ==> 25
6 ==> 36

To print key only
1 2 3 4 5 6
To print values only
1 4 9 16 25 36 {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}
 Key==> Value are
1 ==> 1
2 ==> 4
3 ==> 9
4 ==> 16
5 ==> 25
6 ==> 36
7 ==> 49

To print key only
1 2 3 4 5 6 7
To print values only
1 4 9 16 25 36 49 {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
 Key==> Value are
1 ==> 1
2 ==> 4
3 ==> 9
4 ==> 16
5 ==> 25
6 ==> 36
7 ==> 49
8 ==> 64

To print key only
1 2 3 4 5 6 7 8
To print values only
1 4 9 16 25 36 49 64 {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}
 Key==> Value are
1 ==> 1
2 ==> 4
3 ==> 9
4 ==> 16
5 ==> 25
6 ==> 36
7 ==> 49
8 ==> 64
9 ==> 81

To print key only
1 2 3 4 5 6 7 8 9
To print values only
1 4 9 16 25 36 49 64 81 {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}
 Key==> Value are
1 ==> 1
2 ==> 4
3 ==> 9
4 ==> 16
5 ==> 25
6 ==> 36
7 ==> 49
8 ==> 64
9 ==> 81
10 ==> 100

To print key only
1 2 3 4 5 6 7 8 9 10
To print values only
1 4 9 16 25 36 49 64 81 100 {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}
 Key==> Value are
1 ==> 1
2 ==> 4
3 ==> 9
4 ==> 16
5 ==> 25
6 ==> 36
7 ==> 49
8 ==> 64
9 ==> 81
10 ==> 100
11 ==> 121

To print key only
1 2 3 4 5 6 7 8 9 10 11
To print values only
1 4 9 16 25 36 49 64 81 100 121 {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144}
 Key==> Value are
1 ==> 1
2 ==> 4
3 ==> 9
4 ==> 16
5 ==> 25
6 ==> 36
7 ==> 49
8 ==> 64
9 ==> 81
10 ==> 100
11 ==> 121
12 ==> 144

To print key only
1 2 3 4 5 6 7 8 9 10 11 12
To print values only
1 4 9 16 25 36 49 64 81 100 121 144 {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169}
 Key==> Value are
1 ==> 1
2 ==> 4
3 ==> 9
4 ==> 16
5 ==> 25
6 ==> 36
7 ==> 49
8 ==> 64
9 ==> 81
10 ==> 100
11 ==> 121
12 ==> 144
13 ==> 169

To print key only
1 2 3 4 5 6 7 8 9 10 11 12 13
To print values only
1 4 9 16 25 36 49 64 81 100 121 144 169 {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196}
 Key==> Value are
1 ==> 1
2 ==> 4
3 ==> 9
4 ==> 16
5 ==> 25
6 ==> 36
7 ==> 49
8 ==> 64
9 ==> 81
10 ==> 100
11 ==> 121
12 ==> 144
13 ==> 169
14 ==> 196

To print key only
1 2 3 4 5 6 7 8 9 10 11 12 13 14
To print values only
1 4 9 16 25 36 49 64 81 100 121 144 169 196 {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}
 Key==> Value are
1 ==> 1
2 ==> 4
3 ==> 9
4 ==> 16
5 ==> 25
6 ==> 36
7 ==> 49
8 ==> 64
9 ==> 81
10 ==> 100
11 ==> 121
12 ==> 144
13 ==> 169
14 ==> 196
15 ==> 225

To print key only
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15
To print values only
1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256}
 Key==> Value are
1 ==> 1
2 ==> 4
3 ==> 9
4 ==> 16
5 ==> 25
6 ==> 36
7 ==> 49
8 ==> 64
9 ==> 81
10 ==> 100
11 ==> 121
12 ==> 144
13 ==> 169
14 ==> 196
15 ==> 225
16 ==> 256

To print key only
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16
To print values only
1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289}
 Key==> Value are
1 ==> 1
2 ==> 4
3 ==> 9
4 ==> 16
5 ==> 25
6 ==> 36
7 ==> 49
8 ==> 64
9 ==> 81
10 ==> 100
11 ==> 121
12 ==> 144
13 ==> 169
14 ==> 196
15 ==> 225
16 ==> 256
17 ==> 289

To print key only
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17
To print values only
1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324}
 Key==> Value are
1 ==> 1
2 ==> 4
3 ==> 9
4 ==> 16
5 ==> 25
6 ==> 36
7 ==> 49
8 ==> 64
9 ==> 81
10 ==> 100
11 ==> 121
12 ==> 144
13 ==> 169
14 ==> 196
15 ==> 225
16 ==> 256
17 ==> 289
18 ==> 324

To print key only
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18
To print values only
1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361}
 Key==> Value are
1 ==> 1
2 ==> 4
3 ==> 9
4 ==> 16
5 ==> 25
6 ==> 36
7 ==> 49
8 ==> 64
9 ==> 81
10 ==> 100
11 ==> 121
12 ==> 144
13 ==> 169
14 ==> 196
15 ==> 225
16 ==> 256
17 ==> 289
18 ==> 324
19 ==> 361

To print key only
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19
To print values only
1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}
 Key==> Value are
1 ==> 1
2 ==> 4
3 ==> 9
4 ==> 16
5 ==> 25
6 ==> 36
7 ==> 49
8 ==> 64
9 ==> 81
10 ==> 100
11 ==> 121
12 ==> 144
13 ==> 169
14 ==> 196
15 ==> 225
16 ==> 256
17 ==> 289
18 ==> 324
19 ==> 361
20 ==> 400

To print key only
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20
To print values only
1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 400

Python program to convert 2 digit number into words

In [9]:

d={0:'',1:'one',2:'two',3:'three',4:'four',5:'five',6:'six',7:'seven',8:'eight',9:'nine',\
   10:'ten',11:'eleven',12:'twelve',13:'thirteen',14:'fourteen',15:'fifteen',16:'sixteen',\
   17:'seventeen',18:'eightteen',19:'nineteen',20:'twenty',30:'thirty',40:'fourty',50:'fifty',\
   60:'sixty',70:'seventy',80:'eighty',90:'ninty'}

num=int(input("Enter the integer between 1 to 99:"))
if (num<=20):
      print(d[num])
if(num>20 and num<100):
        if num%10==0:       
            print(d[num])
        else:
            print(d[num//10*10]+" "+d[num%10])

Enter the integer between 1 to 99:44
fourty four

How to sort a dictionary by values in Python

In [10]:
d = {"Pierre": 42, "Anne": 33, "Zoe": 24}
#Use the sorted function and operator module
import operator
sorted_d = sorted(d.items(), key=operator.itemgetter(1))
print(sorted_d)
sorted_a= sorted(d.items(), key=operator.itemgetter(1),reverse=True)
print(sorted_a)

[('Zoe', 24), ('Anne', 33), ('Pierre', 42)]
[('Pierre', 42), ('Anne', 33), ('Zoe', 24)]

Python program to convert a 3 digit number into words

In [11]:
def convert_to_words(num):  
    l = len(num);    
    if (l == 0): 
        print("empty string"); 
        return; 
  
    if (l > 4): 
        print("Length more than 4 is not supported"); 
        return;   
    single_digits = ["zero", "one", "two", "three",  
                     "four", "five", "six", "seven",  
                     "eight", "nine"];  
    two_digits = ["", "ten", "eleven", "twelve",  
                  "thirteen", "fourteen", "fifteen",  
                  "sixteen", "seventeen", "eighteen", 
                  "nineteen"];  
    tens_multiple = ["", "", "twenty", "thirty", "forty", 
                     "fifty", "sixty", "seventy", "eighty",  
                     "ninety"]; 
    tens_power = ["hundred", "thousand"];   
    print(num, ":", end = " ");   
    if (l == 1):  
        print(single_digits[ord(num[0]) - '0']); 
        return;  
    x = 0; 
    while (x < len(num)):    
        if (l >= 3): 
            if (ord(num[x]) - 48 != 0): 
                print(single_digits[ord(num[x]) - 48],  
                                           end = " "); 
                print(tens_power[l - 3], end = " ");  
                  
            l -= 1; 
        else:   
            if (ord(num[x]) - 48 == 1):  
                sum = (ord(num[x]) - 48 + 
                       ord(num[x]) - 48); 
                print(two_digits[sum]); 
                return;   
            elif (ord(num[x]) - 48 == 2 and 
                  ord(num[x + 1]) - 48 == 0): 
                print("twenty"); 
                return;  
            else: 
                i = ord(num[x]) - 48; 
                if(i > 0): 
                    print(tens_multiple[i], end = " "); 
                else: 
                    print("", end = ""); 
                x += 1; 
                if(ord(num[x]) - 48 != 0): 
                    print(single_digits[ord(num[x]) - 48]); 
        x += 1;  
convert_to_words("923"); 
convert_to_words("523"); 
convert_to_words("898");

923 : nine hundred twenty three
523 : five hundred twenty three
898 : eight hundred ninety eight

Python Program to count the number of lines in a text file.

In [12]:
fname = input("Enter filename")
count = 0
with open(fname, 'r') as f:
    for line in f:
        count += 1
print("Total number of lines is:", count)

Enter filename/content/test.txt
Total number of lines is: 149

Python Program to count the number of words in a text file.

In [14]:
fname = input("Enter file name: ")
num_words = 0
with open(fname, 'r') as f:
    for line in f:
        words = line.split()
        num_words += len(words)
print("Number of words:")
print(num_words)

Enter file name: /content/test.txt
Number of words:
1543

Python Program to count the occurrences of a word in a text file.

In [15]:
fname = input("Enter file name: ")
word=input("Enter word to be searched:")
k = 0

with open(fname, 'r') as f:
    for line in f:
        words = line.split()
        for i in words:
            if(i==word):
                k=k+1
print("Occurrences of the word:")
print(k)

Enter file name: /content/test.txt
Enter word to be searched:rap
Occurrences of the word:
7

Python Program to copy the contents of one file into another.

In [0]:

with open("/content/test.txt") as f:
    with open("Hello.txt", "w") as f1:
        for line in f:
            f1.write(line)

Python Program to read the contents of the file in reverse order.

In [19]:
filename=input("Enter file name: ")
    
with open (filename,'r') as f:
    for line in f:
        l=line.split()
        l.reverse() 
        st= " ".join(l)
        print (st)

Enter file name: /content/Hello.txt
feelings your hurt to not and you on easy go gonna was I Look,
chance one this get to going only I'm But
on) you're Shady, Slim minutes, (Six it feel can I wrong, Something's
what know don't I but happen, to about something's like got, I've feeling a Just
trouble, big trouble, in we're means, it think I what means, that If
chances any taking not I'm say, you as bananas as is he if And
ordered doctor the what just were You
God Rap God, Rap a like feel to beginning I'm
nod back nod, back the to front the from people my All
box? slap box, slap to enough long are arms their thinks who Now
Rapbot me call so robot, a like rap I said They
genes my in be must computer a like rap to me for But
pocket back my in laptop a got I
it half-cock I when off go pen'll My
profit rap that from knot fat a Got
it off killing a and living a Made
office in still was Clinton Bill since Ever
nut-sack his on feeling Lewinsky Monica With
honest as still MC an I'm
with) all 'em (Kill killaholic syllables, hell all as indecent and rude as But
hop hip hibbedy gibbedy, slickety, This
brat rappidy this with match pissing a into get wanna really don't You
yackidy-yac yep, crap, rap backpack Ac, the of back the in Mac a Packing
practicing I'm while stunts acrobat lyrical these attempt I time same exact the at And
table motherfuckin' a break to able be still I'll That
half in it crack and faggots of couple a of back the Over
fact the after Aftermath to signed was I ironic was it realized Only
attack of wrath my feel F-bombs, drop is do I All blow? not I could How
Maxipad a here's period, time rough a having are Rappers
bad disastrously actually It's
as masterpiece this constructing masterfully I'm while wack the For
God Rap God, Rap a like feel to beginning I'm
nod back nod, back the to front the from people my All
box? slap box, slap to enough long are arms their thinks who Now
hard that hard, that ain't shit this maintaining you show me Let
got have I like immortality rap to secret the and key the want Everybody
exuberance youthful and rage simply blueprint's the truthful be to Well,
nuisance a for root to loves Everybody
since moon the for shoot but nothing did asteroid, an like earth the Hit
music this with school to taken get MC's
rhyme the bus to vehicle a as it use I 'Cause
students of full school new a lead I Now
N- 2Pac Shabazz, Lakim Rakim, of product a I'm Me?
Slim got they you, thank Eazy, Yella, Ren, Doc, hey, Cube, -W.A,
position a in be and up blow up, grow day one to enough Inspired
n' Rock motherfuckin' the into them induct and DMC Run meet To
Fame of Hall Roll
flames of ball a in burst and church the in walk I though Even
fame of alcohol the is in inducted be I Fame of Hall Only
shame of wall the On
flames of flock a walk I 'til game a all it's think fags You
thinking? you are fuck the in what me tell planking, of Off
boy looking gay Little
boy looking face straight a with it say barely can I gay So
occur mass a witnessing You
boy looking place take gathering church a watching you Like
boy looking say they all that's gay, boy's that vey, Oy
back the on pat up, thumbs a get You
boy looking everyday label your from go" to "way a And
boy? looking say you what boy, looking Hey,
boy looking Dre from yeah" "hell a got I
have I everything for work I'mma
boy looking face my outta get shit, for nobody ask Never
capable be gonna never you're boy Basically
boy looking pace same the with up keep To
God Rap God, Rap a like feel to beginning I'm 'Cause
nod back nod, back the to front the from people my All
Nascar Nascar, me call track, the around racing I'm way The
God Trash White the park, trailer the of Earnhardt Dale
Asgard Asgard, no Krypton, planet's this Zod General before Kneel
omnipotent I'm rodent, you Odin, be I'll and Thor be you So
totin' I'm bombs these with immediately reloading I'm then off Let
woken be not should I And
floating zombie a head, talking a just I'm but dead, walking the I'm
throating deep mom your got I But
poodle common, in nothing have we noodle, Ramen my out I'm
pupil homage, pay and arm the in yourself pinch doberman, a I'm
brutal honesty's my me, It's
though do I what utilize don't I if futile honestly it's But
while a in once least at good For
doodle and scribble I scratch chicken this in somewhere sure make wanna I So
times tough through people some get help and try to maybe to rhymes Enough
unsigned you even 'cause case in just punchlines few a keep gotta I But
lunchtime it's like me at looking hungry are Rappers
I once where time a was there know I
grind Monch Pharoahe my on I'm like rap still I but underground, the of king Was
combine you when sometimes but rhymes, crunch I So
mine of color skin the with Appeal
to trying come they here and big too get You
LP Mathers the from Back" "I'm on said I line one that like you Censor
Columbine from kids seven take "I'll say to tried I when One
nine" a and revolver a AK-47, an add line, a in all 'em Put
I'm but was, I as big as ain't I that now it with away get I if See
portal the through coming immortal an into Morphin'
though 2004 from warp time a in stuck You're
for rhyme you that fuck the what know don't I And
cornrows fucking with Rapunzel as pointless You're
normal being fuck normal, write You
future the from Raygun new a bought just I And
mad J Ray made Fabolous when like ya shoot and come to Just
pad Maywhether's at fag a like looked he said Fab 'Cause
piano played they while man a to Singin'
channel cable the on special 24/7 a was that man, oh Man,
day next very the station radio the to straight went J Ray So
you" kill I'mma Fab, "Hey,
Fad) (JJ speed, supersonic at you at coming Lyrics
human a I'm assuming you lamaa duma lamaa sama Uh,
superhuman I'm you to through it get to do gotta I What
rubber of made I'm and Innovative
you to glue it'll and me of off ricocheting is say you anything that So
demonstrating ever than more devastating, I'm
levitating it's like feeling a audience motherfuckin' a give to How
waiting forever are haters the that know I and fading, Never
celebrating be they'd off, fell I say can they that day the For
motivated 'em get to way the know I 'Cause
music elevator make you music, elevating make I
mainstream too he's Oh,
it confuse they jealous, get they when do they what that's Well,
it fuse to way hella a found I 'cause pop, it's hop, hip not It's
Doc with rap shock rock, With
it lose 'em make and Yourself Lose on Throw
that like songs make to how know don't I
use to words what know don't I
you to occurs it when know me Let
you as diverse verses these of one any ripping I'm While
you hurtin' inadvertently I'm curtains, It's
to murder gotta I verses many How
uh! too virgins sacrifice can you songs your nice, as half were you if that Prove
junky pill flunkie, School
me brung skills the accolades the at look But
hungry still but myself, of Full
to mind my put I what do me make I 'cause myself bully I
tongues in speak I when ill you, above leagues million a I'm And
you fuck cheek, in tongue still it's But
seat front the in asleep I'm wheel, fucking the take Satan so drunk I'm
funky but chunky, still Boys, the and D Heavy Bumping
struggling and tugging feel can I something there's head my in But
me from want they what here's and, devils with fight Angels
hate women the of some eliminate to me asking They
have I hatred bitter the consideration into take you if But
situation the to sympathetic more and patient little a be may you Then
discrimination the understand And
then lemonade make lemons, you handing life's it, fuck But
then? cake a them bake to supposed I am fuck the how women the batter can't I if But
Satan for it mistake Don't
overseas be to need I think you if mistake fatal a It's
broad a trip to vacation a take And
retard a be don't and face her on fall her make And
God? a be can you when king a be why not, Think king? a Be